<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JSPFilter</filter-name>
        <filter-class>filter.JSPFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MKTFilter</filter-name>
        <filter-class>filter.MKTFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PersonalFilter</filter-name>
        <filter-class>filter.PersonalFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SaleFilter</filter-name>
        <filter-class>filter.SaleFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>SaleFilter</filter-name>
        <servlet-name></servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>PersonalFilter</filter-name>
        <servlet-name>UserProfileController</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>MKTFilter</filter-name>
        <servlet-name>CartDetailController</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>JSPFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <servlet-name>UpdateSlider</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/userdetail</url-pattern>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>UserListController</servlet-name>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-name>SettingListController</servlet-name>
    </filter-mapping>
    
    <servlet>
        <servlet-name>EditSlider</servlet-name>
        <servlet-class>controller.EditSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlider</servlet-name>
        <servlet-class>controller.UpdateSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailController</servlet-name>
        <servlet-class>controller.CartDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAjax</servlet-name>
        <servlet-class>controller.deleteAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateQuantityAjax</servlet-name>
        <servlet-class>controller.updateQuantityAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCartFromProductList</servlet-name>
        <servlet-class>controller.addCartFromProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletionController</servlet-name>
        <servlet-class>controller.CartCompletionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>controller.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailMKT</servlet-name>
        <servlet-class>controller.ProductDetailMKT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListMKTAdd</servlet-name>
        <servlet-class>controller.ProductListMKTAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListMKTController</servlet-name>
        <servlet-class>controller.ProductListMKTController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderList</servlet-name>
        <url-pattern>/sliderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderAction</servlet-name>
        <url-pattern>/slideraction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSlider</servlet-name>
        <url-pattern>/editslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlider</servlet-name>
        <url-pattern>/updateslider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SliderList</servlet-name>
        <servlet-class>controller.SliderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderAction</servlet-name>
        <servlet-class>controller.SliderAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesTrendServlet</servlet-name>
        <servlet-class>controller.SalesTrendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>controller.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashboardController</servlet-name>
        <servlet-class>controller.MKTDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesTrendServlet</servlet-name>
        <url-pattern>/SalesTrendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailController</servlet-name>
        <url-pattern>/CartDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAjax</servlet-name>
        <url-pattern>/deleteAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateQuantityAjax</servlet-name>
        <url-pattern>/updateQuantityAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCartFromProductList</servlet-name>
        <url-pattern>/addCartFromProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletionController</servlet-name>
        <url-pattern>/CartCompletionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailMKT</servlet-name>
        <url-pattern>/ProductDetailMKT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListMKTAdd</servlet-name>
        <url-pattern>/ProductListMKTAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListMKTController</servlet-name>
        <url-pattern>/ProductListMKT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/adsettinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/adsettingdetail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProductController</servlet-name>
        <servlet-class>controller.EditUserProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddressController</servlet-name>
        <servlet-class>controller.DeleteAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProductController</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddressController</servlet-name>
        <url-pattern>/delete-address</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVerifiedController</servlet-name>
        <servlet-class>controller.RegisterVerifiedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVerifiedController</servlet-name>
        <url-pattern>/RegisterVerifiedController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controller.ProductListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashboardController</servlet-name>
        <url-pattern>/mkt-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/cart-contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerDetailController</servlet-name>
        <servlet-class>controller.CustomerDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListController</servlet-name>
        <servlet-class>controller.CustomerListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerListController</servlet-name>
        <url-pattern>/customerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailController</servlet-name>
        <url-pattern>/customerdetail</url-pattern>
    </servlet-mapping>
</web-app>
