/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 16, 2024, 9:23:34 PM
    Author     : Thanh Hai
*/

 *{
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .newpass-container{
                background: linear-gradient(to right, #c2dda2, #8BC34A);
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .newpass-card{
                background-color: #fff;
                box-sizing: border-box;
                box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
                border-radius: 8px;
                overflow: hidden;
                width: 500px;
                min-height: 275px;
                border-radius: 24px;
            }
            h1{
                font-weight: 100;
                font-size: 26px;
                text-transform: uppercase;
                margin: 36px 0 20px;
                text-align: center;
            }
            #new-pass{
                flex: 1;
                font-size: 1.4rem;
                outline: none;
                border: none;
                border-bottom: 1px solid var(--primary-color);
                height: 40px;
                margin: 20px 0px;
                display: block;
                padding: 0px 8px;

            }
            #new-pass:focus{
                border-bottom: 2.5px solid var(--primary-color);
            }
            button{
                cursor: pointer;
                font-size: 1.6rem;
                text-transform: uppercase;
                border: none;
                background: var(--primary-color);
                color: white;
                width: 70%;
                margin: 30px auto 30px;
                display: block;
                height: 40px;
                border-radius: 8px;
            }
            span{
                padding: 14px;
                justify-content: center;
                align-items: center;
                display: flex;
                font-size: 2.6rem;
            }
            .new-pass{
                margin: 0 76px;
                align-items: center;
                display: flex;
            }
            span i{
                color: var(--primary-color);
            }
            .error{
                font-size: 1.4rem;
                color: var(--primary-color);
                text-align: center;
                margin: 16px 0 0;
            }
