.order-item{
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.order-item-id{
    font-size: 12px;
    margin: 0 8px;
}
.order-item-product{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.order-item:hover .item-product-img{
    transform: scale(1.2);

}
.item-product-img{
    height: 40px;
    width:40px;
    object-fit: cover;

    transition: transform ease-in-out 0.5s;
}
.img-hover{
    margin: 0 12px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}
.item-product-name{
    font-size: 16px;
    margin:0;
}
.item-product-content{
    flex: 1;
}
.item-product-cate{
    margin-bottom: 0px;
}
.item-product-price,.item-product-quantity{
    margin-right: 30px;
    font-size: 12px;
}
.info-box-feedback{
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}

.info-box-feedback input{
    flex: 3;
    border: none;
    outline: none;
    background-color: #ccc;
    cursor: not-allowed;
}
.info-box-feedback input:focus {
    outline: none;
    
}
.info-box-feedback label{
    margin: 0;
    flex: 1;
}

.Feedback-info{
    margin-bottom: 20px;
}

