*{
    box-sizing: border-box;
}

.order-list{
    margin: 0;
    list-style: none;
    padding-left: 0;
}
.order-item{
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-item-id{
    font-size: 16px;
    padding: 12px;
}
.order-item-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.item-product-img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    
    transition: transform ease-in-out 0.5s;
}
.img-hover{
    margin: 0 6px;
    overflow: hidden;
    height: 80px;
    width: 80px;
}
.item-product-name{
    font-size: 20px;
    margin:0;
}
.item-product-content{
    width: 300px;
}
.item-product-cate{
    margin-bottom: 0px;
}
.item-product-price,.item-product-quantity{
    flex: 1;
    font-size: 14px;
}
.order-item-status{
    text-align: center;
    line-height: 26px;
    height: 26px;
    width: 70px;
    display: block;
    border-radius: 8px;
    color: white;
    
}
.span-success{
    opacity: 0.9;
    background-color: #28a745;
}
.span-primary{
    opacity: 0.9;
    background-color: #007bff;
}
.span-warning{
    opacity: 0.9;
    background-color: #ffc107;
}
.span-wait{
    opacity: 0.9;
    background-color: #ff7043;
}
.order-item:hover .item-product-img{
    transform: scale(1.2);
    
}
.order-list-treeview{
    list-style: none;
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.6s;
}
.order-list-treeview.active
{
    max-height: 400px;
}
.item-main{
    border-radius: 4px;
    box-shadow: 0 1px 2px var(--primary-color);
    margin-bottom: 20px;
}
.order-main-header{
    font-size: 40px;
    margin: 0 0 40px;
    text-align: center;
    line-height: 50px;
    
}
.see-more{
    cursor: pointer;
    text-transform: uppercase;
    color: #555050;
    margin: 0 24px;
    border-top: 1px dashed var(--primary-color);
    padding: 10px;
    font-size: 12px;
    display: block;
    text-align: center;
}

/*paging*/

.page-list {
    text-align: center;
    display: flex;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.page-list>li {
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}

.page-list>li>p {
    margin: 0;
}

.page-list>.notclick {
    color: #fff;
    background-color: #8bc34a;
}

.page-list>.notclick>p {
    pointer-events: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.page-list>.onclick {
    border: 1px solid #8bc34a;
    background-color: #fff;
}

.page-list>.onclick>p {
    color: #8bc34a;
    text-decoration: none;
}

.page-list>.onclick:hover {
    background-color: #8bc34a;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.page-list>.onclick:hover>p {
    color: #fff;
    transition: 0.3s all ease-in-out;
}
.Total{
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    margin: 0 24px;
    height: 40px;
    align-items: center;
    display: flex;

}





