* {
    box-sizing: border-box;
}


.main-content {
    position: absolute;
    left: 240px;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.form-area {
    width: 85%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.half-col{
    width: 45%;
}
.full-col{
    width: 100%;
}

.order {
    display: flex;
    justify-content: space-between;
}
.form-control {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}
.form-control:focus {
    outline: none;
    border: 1px solid #8bc34a;
}
textarea { resize: vertical; } 
.form-control::placeholder {
    color: #ddd;
}
.form-control:focus::placeholder {
    color: #8bc34a;
}
.form-control:disabled {
    background-color: #e9e9e9;
    color: #006609;
}
.form-area button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #8bc34a;
    transition: 0.3s all ease-in-out;
}
.form-area button:hover {
    color: #fff;
    background-color: #8bc34a;
    transition: 0.3s all ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8bc34a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8bc34a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* make button in maincontent have same line with User profile*/
.function-area {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.function-area button {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 100%;    
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.3s all ease-in-out;
}
.function-area #add {
    color: #8bc34a;
}
.function-area #cancel {
    color: #ff0000;
}
.function-area #add:hover {
    background-color: #8bc34a;
    color: #fff;
}
.function-area #cancel:hover {
    background-color: #f44336;
    color: #fff;
}

