html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
}

.content{
    width: 80%;
    display: flex;
    margin: 2rem auto;
    gap: 20px;
}