.footer *{
    box-sizing: border-box;
}
.footer{
    margin-top: 90.3px;
    background-color: #001524;
    line-height: 1.6rem;
}
.footer-intro{
    margin: 54.18px 0;
    padding: 7.74px;
}
.footer-intro-des{
    opacity: 0.8;
    font-weight: 600;
    line-height: 16.77px;
    color: #ccc;
    font-style: italic;
    font-size: 1.29rem;
}
.footer-link{
    padding-left: 51.6px;
}
.footer-link-heading{
    margin-top: 83.85px;
    font-size: 1.419rem;
    color: white;
}
.footer-link-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30.96px;
    list-style: none;
    padding-left: 0;
}
.footer-link-item a{
    font-size: 1.161rem;
    color: #ccc;
    text-decoration: none;
    letter-spacing: 0.3325px;
    display: block;
    margin: 3.87px 0;
}
.footer-link-item a:hover{
    color: white;
}
.footer-download{
    padding: 0 64.5px 0 0;
    margin-top: 83.85px;
}
.footer-download-heading{
    font-size: 1.419rem;
    color: white;
}
.footer-download-des{
    font-size: 1.161rem;
    color: #a7aeb3;
    line-height: 16.77px;
}
.footer-copyright{
    padding-bottom: 51.6px;
    border-top: 0.129px solid rgba(125,125,125,0.27);
}
.copyright-text{
    color: #a7aeb3;
    font-size: 1.161rem;
    margin-top: 25.8px;
}