.left-content {
    width: 66%;
}

.img,
.img>img {
    width: 100%;
}

.author_cmt {
    display: flex;
    margin: 2rem 0 1rem 0;
}

.author_cmt span {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #797979;
    font-size: 1rem;
}

.comment_main {
    margin-left: 1.2rem;
}

.author_cmt span>i {
    color: #7fbd43;
    margin-right: 5px;
}

.text-content>h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
    margin: 0px 0px 20px;
}

.text-content>p {
    color: #797979;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    margin: 0px 0px 16px;
    text-align: justify;
}

.text-content p:last-child {
    padding-bottom: 3rem;
    border-bottom: 1px solid #c7c7c7;
}

.social-share {
    margin: 1.5rem 2.5rem 1.5rem 0;
    display: flex;
    align-items: center;
}

.social-share>span {
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin-right: 2rem;
}

.social-share i {
    margin: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.2rem;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #797979;
}

.social-share i:hover {
    cursor: pointer;
    background-color: #7fbd43;
    transition: .3s ease-in-out;
}

.related-blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.related-single-blog {
    background-color: #ffffff;
    border-radius: 5px;
}

.related-single-blog img {
    width: 100%;
}

.related-blog>h2 {
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin: 2rem 0 1.5rem 0;
}

.related-single-blog-content {
    width: 90%;
    margin: 3rem auto 1.5rem auto;
}

.related-single-blog-content>span {
    color: #9acb6b;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.related-single-blog-content>h3 {
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0 1.5rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #c7c7c7;
    font-weight: 500;
}

.author_cmt_related-blog {
    margin: 1rem 0 3rem 0;
}

.author_cmt_related-blog span {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

.author_cmt_related-blog>span>i {
    color: #7fbd43;
}

.author_cmt_related-blog span:first-child {
    margin-right: 1rem;
}

.author_cmt_related-blog>i {
    margin-left: 2.5rem;
    color: #797979;
}

.comment>.title-comment {
    font-family: 'Playfair Display', serif;
    color: #333333;
    margin: 2rem 0 1.5rem 0;
    font-weight: 300;
    font-size: 1.8rem;
}

.user-comment {
    display: flex;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 4rem;
}

.avatar {
    width: 20%;
    margin-right: 2rem;
}

.userName-repbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userName-repbtn>span {
    font-family: 'Playfair Display', serif;
    color: #333333;
    font-size: 1.5rem;
    font-weight: 600;
}

.userName-repbtn>.reply-btn {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    background-color: #7fbd43;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

.userName-repbtn>.reply-btn:hover {
    background-color: rgb(131, 224, 167);
}

.comment-content>p {
    font-family: 'Poppins', sans-serif;
    color: #797979;
}

.leave-cmt {
    display: flex;
    flex-direction: column;
}

.leave-cmt>h1 {
    color: #333333;
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}


.cmt-input {
    resize: none;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    margin: 1rem 0 2rem 0;
}

.cmt-input:focus {
    border: 1px solid #ffdb58;
    outline: none;
}

.submit-cmt {
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    background-color: #7fbd43;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    grid-area: auto;
    line-height: 28px;
    margin: 15px 0px 2rem 0;
    padding: 12px 32px;
    text-align: center;
    border: none;
    width: 11rem;
    cursor: pointer;
}

.submit-cmt:hover{
    background-color: #bed411;
}