/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 thg 2, 2024, 21:19:09
    Author     : ADMIN
*/

body, html{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    line-height: 25.6px;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}

.content{
    display: flex;
    width: 80%;
    margin: 3rem auto 0 auto;
}

.search-form{
    margin: 0;
    padding: 0;
    display: flex;
}

.price-form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #ffffff;
}

.cart-container{
    font-family: "Poppins", sans-serif;
    width: inherit;
    margin-top: 64px;
    padding: 0 0 2rem 60px;
    height: fit-content;
}

.cart-table{
    border-collapse: collapse;
    width: 100%;
}

.cart-table thead tr {
    font-size: 1.5rem;
    font-weight: 300;
    height: 6rem;
    background-color: #82ae46;
    color: #ffffff;
}

.cart-table thead tr th{
    font-weight: 300;
}

.cart-table tbody tr{
    padding: 3rem 0;
    border-bottom: .1px solid #dddddd;
}

.cart-table tbody tr td{
    max-width: fit-content;
    text-align: center;
    padding: 3rem 0;
}

.td-id{
    width: 3rem;
    font-size: 1.5rem;
    padding: 0 1.5rem;
}

.cart-table .pro-img{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    overflow: hidden;
}

.pro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pro-img{
    margin: 0 auto;
}

.td-name, .td-price, .td-total{
    font-size: 1.5rem;
    font-weight: 300;
}

.td-removebtn button{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: .1px solid #bdbdbd;
    background-color: rgb(247, 247, 247);
}

.td-removebtn button:hover{
    background-color: #82ae46;
    color: #ffffff;
    transition: .1s ease-in;
}

.total-table{
    padding: 2rem;
    border: .1px solid #dddddd;
    margin: 2rem;
}

.total-table tbody tr:nth-child(2){
    border-bottom: .1px solid #dddddd;
}

.total-table thead tr th{
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}

.total-table tbody tr th{
    padding-bottom: 2rem;
    text-align: left;
    font-weight: 300;
    color: #4d4d4d;
    font-size: 1.5rem;
}

.total-table tbody .th-total{
    font-weight: bolder;
    color: black;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
}

.checkout-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkoutBtn{
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    border: none;
    background-color: #82ae46;
    color: #ffffff;
    border-radius: 3rem;
    cursor: pointer;
}

.checkoutBtn:hover, .morebtn:hover{
    border: .1px solid #82ae46;
    color: #82ae46;
    background-color: #ffffff;
    transition: .2s linear;
}

.morebtn{
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: #82ae46;
    color: #ffffff;
    border-radius: 3rem;
    cursor: pointer;
    margin: 2rem;
    border: none;
}

.td-quantity input{
    outline: none;
    text-align: center;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    border: .1px solid #dddddd;
}
